body {
    font-family: Arial, sans-serif;
    background-color: #F166B5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #DC218B;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

.nav1 {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: black;
}

form {
    background-color: #F166B5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input, form button {
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

footer {
    background-color: #DC218B;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.Bnombre{
    background-color: #DC218B;
    border:solid black
}

.btn-ver, .btn-borrar, .btn-editar {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.btn-ver, .btn-editar {
    background-color: #4CAF50; /* Verde */
}

.btn-borrar {
    background-color: #F44336; /* Rojo */
}

.btn-ver:hover {
    background-color: #45a049; /* Verde más oscuro */
}

.btn-borrar:hover {
    background-color: #e53935; /* Rojo más oscuro */
}

.bolso, .categoria-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.categoria-link{
    background-color: white;
    text-decoration: none;
}