/* public/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #F166B5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #DC218B;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: black;
}

form {
    background-color: #F166B5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input, form button {
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

footer {
    background-color: #DC218B;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}